.about > img {
  max-height: 500px;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 40px;
  padding: 50px;
}

.header1 {
  font-size: 60px;
}

.about > div {
  width: 600px;
  max-width: 50%;
  text-align: justify;
  font-weight: bold;
  color: white;
  font-size: 17px;
}

div > p {
  margin: 20px;
}

h1 {
  margin: 15px 0;
}