.about > img {
  max-height: 300px;
  margin: 25px;
}

.about {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.about > div {
  width: 600px;
  max-width: 50%;
  text-align: justify;
  font-weight: bold;
  color: white;
  font-size: 1.2vh;
}

.aboutHeader2 {
  color: white;
}

.socialContainer > a > img {
  margin-top: 10px;
  width: 60px;
}

@-webkit-keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
.hvrPulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvrPulse:hover, .hvrPulse:focus, .hvrPulse:active {
  -webkit-animation-name: hvr-pulse;
  animation-name: hvr-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

input::-webkit-input-placeholder {
  color: black !important;
  }
  
  input:-moz-placeholder {
  color: black !important;  
  }
  
  input::-moz-placeholder { 
  color: black !important;  
  }
  
  input:-ms-input-placeholder {  
  color: black !important;  
  }

div > p {
  margin: 20px;
}

h1 {
  margin: 15px 0;
}

.linearWipe {
  margin-bottom: 5px;
  background: linear-gradient(-45deg, #d7108e, #8300fe, #042fef, #f75d04);
  background-size: 300%;
  font-size: 3vw;
  font-weight: 400;
  text-transform: uppercase;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animated_text 2s ease-in-out infinite;
  -moz-animation: animated_text 5s ease-in-out infinite;
  -webkit-animation: animated_text 5s ease-in-out infinite;
}

@keyframes animated_text {
  0% { background-position: 0px 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0px 50%; }
}

.techStackHeader {
  margin-bottom: 0;
}

.techStack > img {
  flex-wrap: wrap;
  width: 35px;
  margin: 2px;
  margin-top: -15px;
}