.resumeContainer {
  height: 100vh;
}

.headerAbout {
  font-size: 60px;
}

.headerAbout2 {
  color: white;
  font-size: 25px;
  margin-bottom: 30px;
}

.myPDF {
  width: 50%;
  /* height: 1000px; */
  height: 100vh;
}