.resumeContainer {
  height: 100vh;
}

.headerAbout {
  font-size: 60px;
  margin-bottom: 0;
}

.headerAbout2 {
  color: white;
  margin-bottom: 40px;
}

.myPDF {
  width: 50%;
  /* height: 1000px; */
  height: 100vh;
}