.contactHeader {
  font-size: 60px;
  margin-bottom: 0;
}

.contactSubHeader {
  margin: 0;
  color: white;
}

.socialContainer > a > img {
  margin-top: 10px;
  width: 60px;
}

@-webkit-keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
.hvrPulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvrPulse:hover, .hvrPulse:focus, .hvrPulse:active {
  -webkit-animation-name: hvr-pulse;
  animation-name: hvr-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}



input::-webkit-input-placeholder {
  color: black !important;
  }
  
  input:-moz-placeholder {
  color: black !important;  
  }
  
  input::-moz-placeholder { 
  color: black !important;  
  }
  
  input:-ms-input-placeholder {  
  color: black !important;  
  }
