.contactHeader {
  font-size: 60px;
}

.contactSubHeader {
  margin: 0;
  color: white;
}

input::-webkit-input-placeholder {
  color: black !important;
  }
  
  input:-moz-placeholder {
  color: black !important;  
  }
  
  input::-moz-placeholder { 
  color: black !important;  
  }
  
  input:-ms-input-placeholder {  
  color: black !important;  
  }