.contactHeader {
  font-size: 60px;
  margin-bottom: 0;
}

.contactSubHeader {
  margin: 0;
  color: white;
}

.socialContainer > a > img {
  margin-top: 10px;
  width: 100px;
}

input::-webkit-input-placeholder {
  color: black !important;
  }
  
  input:-moz-placeholder {
  color: black !important;  
  }
  
  input::-moz-placeholder { 
  color: black !important;  
  }
  
  input:-ms-input-placeholder {  
  color: black !important;  
  }