.home > img {
  border-radius: 50%;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 150px;
  margin: 0px;
}
