.home > img {
  border-radius: 50%;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 175px;
  border: solid;
  border-color: white;
  padding: 0 15px 0 15px;
}

h2 {
  color: white;
  font-size: 35px;
}

.app {
  color: white;
  font-size: 30px;
}